.icon_sec::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 51%;
    left: -20px;
    height: 21px;
    width: 25px;
    box-shadow: 15px -15px 0 15px #14172b;
    border-top-right-radius: 50px;
    border-top: 1px solid #2E3149;
}

.icon_sec::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    top: 51%;
    right: -20px;
    height: 21px;
    width: 25px;
    box-shadow: -15px -15px 0 15px #14172b;
    border-top: 1px solid #2E3149;
    border-top-left-radius: 50px;
}